p {
    font-size: 16px;
}

.navbardiv{
    display: flex;
    justify-content: space-around;
}

.social-icon{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}

.stickyNavbar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: black;
    max-width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#navbarMain{
    transition: 0.4s ease-in-out;
}
#navbarMain div{
    background-color: black;
}

.navbardiv p{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;   
}

.carousel-main{
    height: 350px !important;
}

.carousel-main img{
    transform: translateY(-241px);
}

.links-nav{
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: 500;
    padding: 12px 0;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    width: 100%;
}

.links-nav:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-main{
    display: flex;
    justify-content: space-between;
}

/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#000000; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:16px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:16px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC; text-decoration:none;}
.footer_ul_amrc li a:hover{ color:rgb(190, 190, 190); text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; text-decoration: none; margin:0 12px; font-size: 15px;}
.foote_bottom_ul_amrc li a:hover{
    color: blue;
}
.headin5_amrc{
    font-size: 2.25rem;
}
.social_icons_bottom{
    display: flex;
    justify-content: space-around;
    padding: 0px 550px;
    margin-top: 10px;
}

.social_icons_bottom a i{
    border: 1px solid white ;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
    transition: 0.4s;
}

.social_icons_bottom a i:hover{
    color: blue;
    background-color: white;
}

.instagramIcon:hover{
    color: #CB3E7D !important;
}

.newsletterinput{
    width: 308px;
    border: none;
    padding: 10px 8px;
    margin-top: 10px;
    font-size: medium;
    border-radius: 2px;

}

.newsletterbutton{
    padding: 8px 26px;
    margin-top: 23px;
    font-size: 17px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
}

.main_content{
    margin-top: 10px;
}

.underline_head{
    height: 4px;
    width: 30px;
    background-color: black;
    margin: 0 auto;
    margin-top: 9px;
    border-bottom: 1px solid red;
}


.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.cards img{
    height: 180px;
}

.cards h4{
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 700;
}

.cards h4, .cards p{
    margin-left: 10px;
}

.cards div{
    box-shadow: 0px 0px 15px rgb(161, 161, 161);
    transition: 0.4s;
}

.cards div:hover{
    box-shadow: 0px 0px 15px rgb(216, 216, 216);
    transform: translateY(-2px);
}

/* Contact Us page's Css starts from here */

.contact-form{
    margin: 0 auto;
    width: 640px;
    font-size: 16px;
    /* border: 1px solid rgb(99, 0, 0); */
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 0px;
}

.contact-form table{
    margin: 0 auto;

}

.contact-btn{
    margin: 16px auto;
    border: none;
    color: white;
    background-color: red;
    border-radius: 2px;
    font-size: 17px;
    padding: 8px 29px;
}

.contact-form input[type=text], .contact-form input[type=tel], .contact-form input[type=email], .contact-form textarea,  .contact-form select{
    margin-left: 50px;
    width: 360px;
    color: black;
}

.contact-form input[type=file]{
    margin-left: 50px;
    width: 360px;
    color: white;
}


.contact-form textarea{
    height: 135.5px;   
}

.contact-form input, .contact-form label, .contact-form textarea, .contact-form select {
    margin-top: 25px;
}

.contact-form label{
    color: white;
}

/* requirement page css */

.telus{
    text-shadow: 0px 0px 2px rgb(172, 172, 172);
    font-weight: 700;
    color: black;
    
}

.moreabout a{
    font-size: 15px; 
}

.moreabout li{
    margin-top: 10px;
}
.moreaboutConnect i{
    font-size: x-large;
    padding-right: 10px;
}

/* sell/rent page css */

.rentL{
    margin-left: 50px;
    
}
.rentS{
    margin-left: 20px;
    
}

.rentI{
    padding-right: 10px;
}

/* Buy property page css */

.imgLocationDiv{
    position: relative;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.locationDiv{
    position: absolute;
    left: 0;
    bottom: 0;
    color: rgb(255, 255, 255);
    background-color: black;
    font-weight: 500;
    font-size: 16px;
    padding: 2px 8px;
}

.pgFourContent{
    padding-top: 10px;
    padding-left: 10px;
    
}

.pgFourName{
    font-size: 18px;
    font-weight: 500;
}

.pgFourGroup{
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
}

.pgFourLoc{
    font-size: 16px;
    color: rgb(141, 141, 141);
    margin-top: -5px;
}

.pgFourType{
    margin-top: 9px;
    font-size: 16px;
    font-weight: 400;

}

.pgFourPrice p{
    font-size: 20px;
}

.seeDtBtn{
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgb(255, 41, 41);
    padding: 3px 16px;
    margin-top: 4px;
    color: white;
    font-weight: 500;
    margin-left: 10px;
}

.mktBy{
    color: rgb(148, 148, 148);
    margin-top: 10px;
    font-size: 13px;
}

.propDiv{
    background-color: #fff;
    box-shadow: 0px 0px 13px rgb(34, 34, 34);
    transition: 0.4s;
}

.propDiv:hover{
    box-shadow: 0px 0px 10px rgb(121, 120, 120);
    transform: translateY(-4px);

}

.buyPropMainDiv{
    width: 80%;
}